In [71]:
import requests
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
import scipy
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
warnings.filterwarnings("ignore")

In [72]:
df_elo = pd.read_csv('rankings_2020_2023.csv')

In [73]:
last_date = df_elo.tail(1)['date'].iloc[0]

In [74]:
df_list = []
for i in pd.date_range(start=last_date,end=dt.date.today()-dt.timedelta(days=1)):
    if str(i.date())!=last_date:
        df = pd.read_csv('http://api.clubelo.com/'+str(i.date()))
        df['date'] = i.date()
        df_list.append(df)

In [75]:
df_add = pd.concat(df_list)
df_add = df_add[df_add['Country'].eq('ENG')]
df_add['team'] = df_add['Club']
df_add['elo'] = df_add['Elo']
df_add = df_add[['team', 'date', 'elo']]

In [76]:
df_elo_new = pd.concat([df_elo.drop(columns='Unnamed: 0'),df_add])

In [77]:
team_map_elo = {
    'Man United': 'Man Utd',
    'Tottenham': 'Spurs',
    "Forest": "Nott'm Forest",
    'Sheffield United': 'Sheffield Utd'
}

In [78]:
df_elo_new['team'] = df_elo_new['team'].map(team_map_elo).fillna(df_elo_new['team'])

In [79]:
df_elo_new.to_csv('rankings_2020_2023.csv')

In [80]:
df_elo_new[df_elo_new['team'].eq('Sheffield Utd')]

              team        date          elo
12   Sheffield Utd  2020-01-01  1689.630249
56   Sheffield Utd  2020-01-02  1689.630249
100  Sheffield Utd  2020-01-03  1688.324219
144  Sheffield Utd  2020-01-04  1688.324219
188  Sheffield Utd  2020-01-05  1688.324219
..             ...         ...          ...
90   Sheffield Utd  2023-09-02  1630.696167
88   Sheffield Utd  2023-09-03  1630.776489
89   Sheffield Utd  2023-09-04  1630.776489
89   Sheffield Utd  2023-09-05  1630.776489
89   Sheffield Utd  2023-09-06  1630.776489

[1345 rows x 3 columns]